extends master

block append scripts
    script(src="/javascripts/main.js")

block content
    div#tabs
        - var first=true
        each project in registry.projects
            a.tab(href=project.name, class=first ? 'active' : '')= project.name
            span.wrapper
                iframe.project-window(id="iframe-" + project.name, src="/" + project.name,
                                      style=first ? 'z-index: 30' : '')
            - first = false