!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  body
    block content