global-reset()
reset-html5()

$cloudy-blue = #49A8FA
$light-text = #F1F1FF
$darker-blue = darken($cloudy-blue, 30%)

body
    background-color $cloudy-blue
    color $light-text
    overflow hidden

h1
    font-size 300%

h2
    font-size 250%

h3
    font-size 200%

h4
    font-size 150%

div#tabs
    background-color #ddd
    height 21px

    a.tab,
    a.active
        display inline-block
        text-decoration none
        padding 2px 3px
        margin 3px 5px

    a.tab
        color $darker-blue

    a.active
        background-color $cloudy-blue
        color $light-text

.wrapper
    position absolute
    top 23px
    left 0
    right 0
    bottom 0

iframe.project-window
    absolute top left
    width 100%
    height 100%
    background-color pink